body,
body[theme-mode='dark'] .semi-always-light {
  --semi-blue-0: 237, 246, 254 !important;
  --semi-blue-1: 210, 233, 252 !important;
  --semi-blue-2: 165, 210, 249 !important;
  --semi-blue-3: 122, 186, 246 !important;
  --semi-blue-4: 79, 161, 243 !important;
  --semi-blue-5: 38, 136, 240 !important;
  --semi-blue-6: 26, 110, 204 !important;
  --semi-blue-7: 17, 85, 169 !important;
  --semi-blue-8: 9, 63, 133 !important;
  --semi-blue-9: 4, 43, 97 !important;
  --semi-brand-0: 237, 246, 254 !important;
  --semi-brand-1: 210, 233, 252 !important;
  --semi-brand-2: 165, 210, 249 !important;
  --semi-brand-3: 122, 186, 246 !important;
  --semi-brand-4: 79, 161, 243 !important;
  --semi-brand-5: 38, 136, 240 !important;
  --semi-brand-6: 26, 110, 204 !important;
  --semi-brand-7: 17, 85, 169 !important;
  --semi-brand-8: 9, 63, 133 !important;
  --semi-brand-9: 4, 43, 97 !important;
}
body[theme-mode='dark'],
body .semi-always-dark {
  --semi-blue-0: 0, 42, 102 !important;
  --semi-blue-1: 0, 60, 138 !important;
  --semi-blue-2: 3, 80, 174 !important;
  --semi-blue-3: 10, 103, 209 !important;
  --semi-blue-4: 19, 128, 245 !important;
  --semi-blue-5: 65, 156, 247 !important;
  --semi-blue-6: 111, 182, 249 !important;
  --semi-blue-7: 158, 208, 251 !important;
  --semi-blue-8: 206, 232, 253 !important;
  --semi-blue-9: 236, 246, 254 !important;
  --semi-brand-0: 4, 43, 97 !important;
  --semi-brand-1: 9, 63, 133 !important;
  --semi-brand-2: 17, 85, 169 !important;
  --semi-brand-3: 26, 110, 204 !important;
  --semi-brand-4: 38, 136, 240 !important;
  --semi-brand-5: 79, 161, 243 !important;
  --semi-brand-6: 122, 186, 246 !important;
  --semi-brand-7: 165, 210, 249 !important;
  --semi-brand-8: 210, 233, 252 !important;
  --semi-brand-9: 237, 246, 254 !important;
}
body,
body[theme-mode='dark'] .semi-always-light {
  --semi-color-focus-border: rgba(var(--semi-blue-5), 1) !important;
  --semi-border-radius-full: 9999px !important;
  --semi-border-radius-large: 12px !important;
  --semi-border-radius-small: 5px !important;
  --semi-border-radius-circle: 50% !important;
  --semi-border-radius-medium: 6px !important;
  --semi-border-radius-extra-small: 3px !important;
}
body[theme-mode='dark'],
body .semi-always-dark {
  --semi-border-radius-full: 9999px !important;
  --semi-border-radius-large: 12px !important;
  --semi-border-radius-small: 5px !important;
  --semi-border-radius-circle: 50% !important;
  --semi-border-radius-medium: 6px !important;
  --semi-border-radius-extra-small: 3px !important;
}
